<div class="p-4">
    <form #updateForm="ngForm" (ngSubmit)="updateIntern()">
        <h2 class="text-2xl font-bold mb-4">Personal Details</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            
            <div>
                <label class="block text-gray-700 font mb-2" for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter full name" #fullname="ngModel" [(ngModel)]="data.intern.fullname" required pattern="[a-zA-Z\s]+">
                <div *ngIf="fullname.invalid && fullname.touched" class="text-red-500">
                    Full Name is required and should contain only letters.
                </div>
            </div>

            <div>
                <label class="block text-gray-700 font mb-2" for="email">Email</label>
                <input type="email" id="email" name="email"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter email address" #internemail="ngModel" [(ngModel)]="data.intern.email" required email>
                <div *ngIf="internemail.invalid && internemail.touched" class="text-red-500">Valid Email is required.</div>
            </div>

            <div>
                <label class="block text-gray-700 font mb-2" for="mentor">Mentor</label>
                <input type="text" id="mentor" name="mentor"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter mentor name" #mentorname="ngModel" [(ngModel)]="data.intern.mentor" required pattern="[a-zA-Z\s]+">
                <div *ngIf="mentorname.invalid && mentorname.touched" class="text-red-500">
                    Mentor Name is required and should contain only letters.
                </div>
            </div>

            <div>
                <label class="block text-gray-700 font mb-2" for="mentoremail">Mentor Email</label>
                <input type="email" id="mentoremail" name="mentoremail"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter mentor's email" #mentoremail="ngModel" [(ngModel)]="data.intern.mentoremail" required email>
                <div *ngIf="mentoremail.invalid && mentoremail.touched" class="text-red-500">Valid Mentor Email is required.</div>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="projectname">Project Name</label>
                <input type="text" id="projectname" name="projectname"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter project name" #projectname="ngModel" [(ngModel)]="data.intern.projectname" required pattern="[a-zA-Z\s]+">
                <div *ngIf="projectname.invalid && projectname.touched" class="text-red-500">
                    Project Name is required and should contain only letters.
                </div>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="projectstatus">Project Status</label>
                <input type="text" id="projectstatus" name="projectstatus"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter project status" #projectstatus="ngModel" [(ngModel)]="data.intern.projectstatus" required pattern="[a-zA-Z\s]+">
                <div *ngIf="projectstatus.invalid && projectstatus.touched" class="text-red-500">
                    Project Status is required and should contain only letters.
                </div>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="startDate">Start Date</label>
                <input type="date" id="startDate" name="startDate"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    #startdate="ngModel" [(ngModel)]="data.intern.startDate" required>
                <div *ngIf="startdate.invalid && startdate.touched" class="text-red-500">Start Date is required.</div>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="endDate">End Date</label>
                <input type="date" id="endDate" name="endDate"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    #enddate="ngModel" [(ngModel)]="data.intern.endDate" required>
                <div *ngIf="enddate.invalid && enddate.touched" class="text-red-500">End Date is required.</div>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="role">Technical Skillset</label>
                <input type="text" id="role" name="role"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter intern role" #role="ngModel" [(ngModel)]="data.intern.role" required pattern="[a-zA-Z\s]+">
                <div *ngIf="role.invalid && role.touched" class="text-red-500">
                    Technical Skillset is required and should contain only letters.
                </div>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="reference">Reference</label>
                <input type="text" id="reference" name="reference"
                  class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                  placeholder="Enter reference name here" #reference="ngModel" [(ngModel)]="data.intern.reference" required pattern="[a-zA-Z\s]+">
                <div *ngIf="reference.invalid && reference.touched" class="text-red-500">
                    Reference is required and should contain only letters.
                </div>
            </div>

            <div class="col-span-2">
                <label class="block text-gray-700 font mb-2" for="association">Association</label>
                <select id="association" name="association"
                    class="border w-full border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    #association="ngModel" [(ngModel)]="data.intern.association" required>
                    <option value="" disabled selected>Select association</option>
                    <option value="PetChem IT">PetChem IT</option>
                    <option value="Finance">Finance</option>
                    <option value="Marketing">Marketing</option>
                    <option value="HR">HR</option>
                </select>
                <div *ngIf="association.invalid && association.touched" class="text-red-500">Association is required.</div>
            </div>
            
            <h2 class="text-2xl font-bold mb-4">Academic Details</h2>
        
            <div>
                <label class="block text-gray-700 font mb-2" for="uniname">University Name</label>
                <input type="text" id="uniname" name="uniname"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter University Name" #uniname="ngModel" [(ngModel)]="data.intern.uniname" required pattern="[a-zA-Z\s]+">
                <div *ngIf="uniname.invalid && uniname.touched" class="text-red-500">
                    University Name is required and should contain only letters.
                </div>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="coursename">Course Name</label>
                <input type="text" id="coursename" name="coursename"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Ex. BTech, BE, BBA ...etc" #coursename="ngModel" [(ngModel)]="data.intern.coursename" required pattern="[a-zA-Z\s]+">
                <div *ngIf="coursename.invalid && coursename.touched" class="text-red-500">
                    Course Name is required and should contain only letters.
                </div>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="specialization">Specialization</label>
                <input type="text" id="specialization" name="specialization"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter specialization" #specialization="ngModel" [(ngModel)]="data.intern.specialization" required pattern="[a-zA-Z\s]+">
                <div *ngIf="specialization.invalid && specialization.touched" class="text-red-500">
                    Specialization is required and should contain only letters.
                </div>
            </div>
            <div>
                <label class="block text-gray-700 font mb-2" for="gradyear">Graduation Year</label>
                <input type="number" id="gradyear" name="gradyear"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter graduation year" #gradyear="ngModel" [(ngModel)]="data.intern.gradyear" required min="1" max="5">
                <div *ngIf="gradyear.invalid && gradyear.touched" class="text-red-500">Graduation Year is required and should be between 1 and 5.</div>
            </div>

            <div class="col-span-2">
                <label class="block text-gray-700 font mb-2" for="universitylocation">University Location</label>
                <input type="text" id="universitylocation" name="universitylocation"
                    class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter university location" #universitylocation="ngModel" [(ngModel)]="data.intern.universitylocation" required pattern="[a-zA-Z\s]+">
                <div *ngIf="universitylocation.invalid && universitylocation.touched" class="text-red-500">
                    University Location is required and should contain only letters.
                </div>
            </div>
        </div>
        <div class="mt-6">
            <button type="submit" 
              class="bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
              [disabled]="updateForm.invalid">Update Intern</button>
        </div>
    </form>
</div>
